:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: fixed;
  overflow-y: hidden;
  height: 100%;
  max-height: 100%;
}

body {
  font-size: min(1.5rem, 1.5vw);
  display: grid;
  grid-template-areas: "header video" "controls video";
  grid-template-columns: 1fr 3fr;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

controls {
  grid-area: controls;
  overflow-x: hidden;
  overflow-y: scroll;
}

.title {
  font-size: 1.25em;
  padding: 0;
}

.title {
  margin: 0.75rem;
}

.subtitle p {
  margin: 0.75rem;
}

.title a.small-link {
  font-weight: normal;
  font-size: 0.75em;
}

input {
  height: 1em;
  width: 1em;
  margin-left: 0;
}

.settings {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  border-bottom: 2px solid
    light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  position: sticky;
  top: 0;
  padding: 0.5em;
  backdrop-filter: blur(0.5em);
  background-color: color-mix(
    in oklab,
    light-dark(white, rgb(35, 35, 35)) 100%,
    transparent
  );
}

#lead-in-flash {
  margin: -0.25em;
  padding: 0.25em;
  border-radius: 0.25em;
}

a.timestamp-link {
  touch-action: manipulation;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em;

  font-size: 1em;
  padding: 0.2em 0.5em;
  width: 100%;
  text-align: left;

  border: none;
  margin: 2px;

  text-decoration: none;
  color: black;

  background: linear-gradient(
    90deg,
    var(--gradient-left) 50%,
    var(--gradient-right) 50%
  );
  background-size: 200%;
  --gradient-left: rgba(0, 0, 0, 0.15);
  --gradient-right: rgba(0, 0, 0, 0.05);
}

.settings + a.timestamp-link {
  margin-top: 0;
}

.timestamp-value {
  color: rgba(0, 0, 0, 0.4);
}

a.timestamp-link:hover,
a.timestamp-link:hover .timestamp-value {
  color: rgba(0, 0, 255, 1);
}

a.timestamp-link:hover {
  --gradient-left: rgba(0, 0, 0, 0.05);
}

video {
  grid-area: video;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.flourish {
  display: grid;
  place-content: center;
  font-size: 200%;
  color: rgba(0, 0, 0, 0.7);
}

a.timestamp-link.current {
  --gradient-left: rgb(0, 128, 255, 0.3);
}

@media (orientation: portrait) {
  body {
    grid-template-areas: "video" "header" "controls";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
}

controls {
  top: 0;
}

controls .heading {
  display: grid;
  grid-template-columns: auto auto auto;
  place-content: center;
  padding: 0.5em;
  gap: 0.5em;
  height: 2em;
  box-sizing: border-box;
}

.fleuron {
  font-size: 125%;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000d;
    color: #eee;
  }

  a {
    color: #669df5;
  }

  a:visited {
    color: #af73d5;
  }

  .timestamp-value {
    color: rgba(255, 255, 255, 0.5);
  }

  controls {
    --background-color: rgb(35, 35, 35);
    background-color: var(--background-color);
  }

  a.timestamp-link {
    color: white;
    --gradient-left: rgba(255, 255, 255, 0.1);
    --gradient-right: rgba(0, 0, 0, 0.3);
  }

  a.timestamp-link:hover,
  a.timestamp-link:hover .timestamp-value {
    color: #669df5;
  }

  .flourish {
    color: rgba(255, 255, 255, 0.7);
  }
}
