* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-areas: "controls video";
  grid-template-columns: 1fr 3fr;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

controls {
  grid-area: controls;
  overflow: scroll;
}

.title {
  font-size: 1.5rem;
  padding: 0;
  margin: 1rem;
}

.title a {
  font-weight: normal;
  font-size: 0.75em;
}

input {
  zoom: 150%;
  margin-left: 0rem;
}

label {
  font-size: 1.2rem;
}

controls > div {
  margin: 1rem;
}

button {
  font-size: 1.5rem;
  padding: 0.2em 0.5em;
  width: 100%;
  text-align: left;
}

video {
  grid-area: video;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
} 
